.reviewCard {
  background: transparent;
  border: 2px solid var(--gold-primary);
  box-shadow: 
  2px 2px 2px rgb(252, 213, 72),
  -2px -2px 2px rgb(252, 213, 72);
  border-radius: 5px;
  padding: 15px 30px;
  transition: all 0.4s ease;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.reviewCard:hover {
  border-color: var(--gold-light);
  box-shadow: 0 0 30px rgba(212, 168, 75, 0.3);
  transform: translateY(-5px);
}

.quoteIcon {
  font-family: Georgia, serif;
  font-size: 2rem;
  color: #fff;
  opacity: 0.8;
  line-height: 1;
  flex-shrink: 0;
  position: absolute;
  top: 12px;
  left: 12px;
}

[dir='rtl'] .quoteIcon{
  left: auto;
  right: 12px;
  transform: scaleX(-1);
}

.reviewContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.reviewText {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.1rem;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 20px;

}

[dir=rtl] .reviewText{
   font-family: 'Janna LT';
   text-align: right;
}

.reviewAuthor {
  display: flex;
  align-items: center;
  gap: 15px;
}

.authorImage {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 2px solid var(--gold-primary); */
}

.authorName {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.05rem;
  font-weight: 600;
  color: #ffff;
}

@media (max-width: 768px) {
  .reviewCard {
    flex-direction: column;
    padding: 30px;
    gap: 20px;
  }

  .quoteIcon {
    font-size: 3.5rem;
    align-self: flex-start;
  }

  .reviewText {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .reviewCard {
    padding: 25px;
  }

  .quoteIcon {
    font-size: 3rem;
  }

  .authorImage {
    width: 45px;
    height: 45px;
  }

  .quoteIcon {
  font-size: 1.7rem;
  top: 20px;
}
}
